*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(141, 93, 34);
    position: absolute;
}

img{
    width: 200px;
    position: relative;
    top: 87px;
    left: 401px;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.shadow{
    position: relative;
    top: -89px;
    left: 362px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.301);
    transform: scale(1, 0.4);
}

img:hover{
    transform: translateY(-20px) scale(0.8, 1);
    
}